.banner .swiper {
    width: 240px;
    height: 320px;
  }
  
  .banner .swiper-slide {
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 18px;
    font-size: 22px;
    font-weight: bold;
    color: #fff;
  }
  
  .banner .swiper-slide:nth-child(1n) {
    background-image: url('src/assets/Banner-books/2.jpg');
  }
  
  .banner .swiper-slide:nth-child(2n) {
    background-image: url('src/assets/Banner-books/9.jpg');
  }
  
  .banner .swiper-slide:nth-child(3n) {
    background-image: url('src/assets/Banner-books/3.jpg');
  }
  
  .banner .swiper-slide:nth-child(4n) {
    background-image: url('src/assets/Banner-books/4.jpg');
  }
  
  .banner .swiper-slide:nth-child(5n) {
    background-image: url('src/assets/Banner-books/5.jpg');
  }
  
  .banner .swiper-slide:nth-child(6n) {
    background-image: url('src/assets/Banner-books/6.jpg');
  }
  
  .banner .swiper-slide:nth-child(7n) {
    background-image: url('src/assets/Banner-books/7.jpg');
  }
  
  .banner .swiper-slide:nth-child(8n) {
    background-image: url('src/assets/Banner-books/8.jpg');
  }

  